.navbar-brand {
    background-image: url('/images/rancor.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    padding-left: 45px;
    margin-top: -1px;
    margin-left: 0px !important;
    font-size: 22px;
    color: #e1e1e1 !important;
}

body{
    background-color: #2b2b2b;
}

h2, h3 {
    color: #e1e1e1;
}

.d3-tip{
    font-weight:bold;
    color:#fff;
}

.chart_stat_bar {
    width:100%;
    height:500px;
    overflow:hidden;
}

.mini_chart {
    width:100%;
    height:100px;
    overflow:hidden;
}

.nav-chart-container {
    height:90%;
    width:45%;
    float:left;
}

.ben-chart-container {
    display:inline-block;
    height:90%;
    width:45%;
    float:left;
}

.stat-box {
    height:95%;
    width: 45%;
    margin-left:50%;
    padding:5px;
    color: #e1e1e1;
}

.bar{
    fill: #00AAFE;
}

.bar:hover {
    fill:brown;
}

.axis--x path {
    display: none;
}

.low_hist {
    height:90%;
    width:45%;
    float:left;
}

.high_hist {
    height:90%;
    width:45%;
    float:left;
}

.benfords_law1 {
    height:100%;
    width:100%;
    float:left;
}

.benfords_law1_mini{
     height:100%;
     width:100%;
     float:left;
 }

.benfords_law2 {
    height:100%;
    width:100%;
    float:left;
}

.benfords_law2_mini{
    height:100%;
    width:100%;
    float:left;
}

.line {
  fill: none;
  stroke: #e1e1e1;
  stroke-width: 2px;
}

.axisGrey text{
    fill: #e1e1e1;
}
.axisGrey path,
.axisGrey line{
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #e1e1e1;
}

.axisSteelBlue text{
  fill: #00aafe;
}
.axisSteelBlue line,
.axisSteelBlue path{
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #00aafe;
}

.axisOrange text{
  fill: #ffae3b;
}
.axisOrange line,
.axisOrange path{
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #ffae3b;
}

td.highlight {
    border: 3px solid #07582B !important;
}



img.highlight {
    border: 3px solid #07582B !important;
}

table caption {
    font-weight: bold;
    font-size: 1.2em;
}

span.underline {
    border-bottom: 1px dotted #e1e1e1;
    text-decoration: none;
}

.navigator .circle {
    fill: #e1e1e1;
    stroke: cornflowerblue;
    stroke-width: 1.5px;
}

.navigator .data {
    fill: cornflowerblue;
    stroke-width: 0px;
}

.navigator .line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.navigator .viewport {
    fill-opacity: 0.2;
}

.links line {
    stroke: #e1e1e1;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #e1e1e1;
    stroke-width: 1.5px;
}

img.grid-image {
    height: 50px;
    width: 50px;
}

img.grid-image-hover {
    height: 360px;
    width: 360px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 16px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    bottom: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4b90f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4b90f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.cell {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    height: 24px;
}
